ALLOC	32
SET	84
ALLOC	2
SWAP
SET	33
SWAP
SAVE
SET	34
SWAP
SET	8
ALLOC	2
SAVE
JUMP	1
LABEL	0
SET	1
SWAP
SET	1
LOAD
ALLOC	2
SAVER
SET	34
LOAD
PUSH
SET	1
LOADR
PUSH
POP
SWAP
POP
ADD
PUSH
WRITE
POP
SWAP
SET	4
PUSH
SET	1
LOADR
PUSH
POP
SWAP
POP
ADD
PUSH
POP
RETURN
LABEL	1
JUMP	3
LABEL	2
SET	1
SWAP
SET	1
LOAD
ALLOC	2
SAVER
SWAP
SET	4
PUSH
SET	1
LOADR
PUSH
POP
SWAP
POP
ADD
PUSH
POP
RETURN
LABEL	3
JUMP	5
LABEL	4
SET	1
SWAP
SET	1
LOAD
ALLOC	2
SAVER
SET	1
LOADR
PUSH
POP
RETURN
LABEL	5
JUMP	7
LABEL	6
SWAP
SET	48
PUSH
WRITE
POP
RETURN
LABEL	7
JUMP	9
LABEL	8
SET	1
SWAP
SET	1
LOAD
ALLOC	2
SAVER
SET	2
SWAP
SET	2
LOAD
ALLOC	2
SAVER
SET	3
SWAP
SET	3
LOAD
ALLOC	2
SAVER
SET	4
SWAP
SET	4
LOAD
ALLOC	2
SAVER
SET	5
SWAP
SET	5
LOAD
ALLOC	2
SAVER
SWAP
SET	2
PUSH
SWAP
SET	34
SWAP
SAVE
SWAP
SET	10
PUSH
SET	1
SWAP
POP
SAVE
CALL	4
PUSH
SWAP
SET	5
PUSH
POP
SWAP
POP
ADD
PUSH
SET	1
LOADR
PUSH
POP
SWAP
POP
ADD
PUSH
SET	2
LOADR
PUSH
POP
SWAP
POP
ADD
PUSH
SET	3
LOADR
PUSH
POP
SWAP
POP
ADD
PUSH
SET	4
LOADR
PUSH
POP
SWAP
POP
ADD
PUSH
SET	5
LOADR
PUSH
POP
SWAP
POP
ADD
PUSH
SWAP
SET	5
PUSH
SET	1
SWAP
POP
SAVE
CALL	0
PUSH
POP
SWAP
POP
ADD
PUSH
POP
RETURN
LABEL	9
SET	77
ALLOC	2
SWAP
SET	35
SWAP
SAVE
SET	2
SWAP
SET	11
ALLOC	2
SAVER
SWAP
SET	1
PUSH
SET	1
SWAP
POP
SAVE
SWAP
SET	2
PUSH
SET	2
SWAP
POP
SAVE
SWAP
SET	3
PUSH
SET	3
SWAP
POP
SAVE
SWAP
SET	4
PUSH
SET	4
SWAP
POP
SAVE
SWAP
SET	5
PUSH
SET	5
SWAP
POP
SAVE
CALL	8
PUSH
SET	3
SWAP
POP
ALLOC	2
SAVER
SET	4
SWAP
SET	10
ALLOC	2
SAVER
SET	5
SWAP
ALLOC	20
SET	20
SAVER
SET	0
SWAP
SET	0
SWAP
SET	8
PUSH
SWAP
SET	4
PUSH
POP
SWAP
POP
ADD
PUSH
SET	25
SWAP
POP
ALLOC	2
SAVER
SET	26
SWAP
SET	97
ALLOC	2
SAVER
SET	33
LOADR
PUSH
WRITE
POP
SWAP
SET	5
PUSH
SWAP
SET	25
SWAP
SAVER
SET	98
PUSH
SWAP
SET	26
SWAP
SAVER
SWAP
SET	7
PUSH
SWAP
SET	8
PUSH
SWAP
GREATER
PUSH
SWAP
SET	7
PUSH
SWAP
SET	0
PUSH
SWAP
EQUAL
SWAP
POP
POP
POP
ADD
JUMPF	10
SWAP
SET	7
PUSH
WRITE
POP
JUMP	11
LABEL	10
SWAP
SET	8
PUSH
SET	25
LOADR
PUSH
POP
SWAP
POP
ADD
PUSH
WRITE
POP
LABEL	11
LABEL	12
SET	4
LOADR
PUSH
SWAP
SET	0
PUSH
SWAP
GREATER
JUMPF	13
SET	4
LOADR
PUSH
WRITE
POP
SET	4
LOADR
PUSH
SWAP
SET	1
PUSH
POP
SWAP
POP
SUB
PUSH
SWAP
SET	4
SWAP
SAVER
JUMP	12
LABEL	13
SWAP
SET	22
PUSH
SET	0
SWAP
SET	0
POP
SWAP
SET	5
SWAP
SAVER
SWAP
SET	77
PUSH
SET	0
SWAP
SET	0
POP
SWAP
SET	6
SWAP
SAVER
SWAP
SET	0
PUSH
SWAP
WRITE
POP
SET	3
LOADR
PUSH
WRITE
POP
SWAP
SET	4
PUSH
SET	1
SWAP
POP
SAVE
CALL	2
PUSH
SWAP
SET	18
PUSH
POP
SWAP
POP
ADD
PUSH
WRITE
POP
CALL	6
SET	33
LOADR
PUSH
WRITE
POP
SET	35
LOADR
PUSH
WRITE
POP
SET	34
LOAD
PUSH
WRITE
POP
HALT
